/* Import Custom Fonts */
@font-face {
    font-family: 'gotham-bold';
    src: url('fonts/Gotham-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-book';
    src: url('fonts/Gotham-Book.otf');
    font-weight: normal;
    font-style: normal;
}

#page1 {
  height: 100vh;
  background-color: #000000;
  min-width: 1360px;
}

#page1-background {
  height: 100vh;
  z-index: 4;
  background-image: url("images/artboard.svg");
  background-position: right;
  background-repeat: no-repeat;
}

#world-background {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  right: 0;
}

#header-content {
  padding-top: 43.75vh;
  padding-left: 8.5vw;
}

#data-science-header {
  font-family: 'gotham-book';
  font-size: 48px;
  color: #F2F2F2;
}

#header-content-description-container {
  margin-top: 15px;
  width: 25vw;
  max-width: 400px;
}

#description-header {
  font-family: 'Open Sans';
  font-size: 18px;
  color: white;
}

#lehigh-header {
  font-family: 'gotham-book';
  font-size: 32px;
  color: #F22F08;
}

#nav-container {
  margin-left: 1.5%;
  width: 50%;
  position: absolute;
  top: 15px;
}

#navbar-logo {
  margin-top: 5px;
  margin-left: 10px;
  width: 82.5px;
  height: 25.5px;
}

.navtext {
  color: white !important;
  opacity: 0.5;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 25px;
  transition: all .5s;
  cursor: pointer;
}
.navtext:hover {
  color: #555 !important;
}

.active {
  opacity: 1.0;
}

#btn-custom {
  margin-top: 20px;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  background-color: #F22F08;
  color: white;
  font-family: 'Open Sans';
  font-size: 16px;
  letter-spacing: 1px;
  z-index: 10;
  border: none;
  transition: 1.5s;
  outline: none;
  cursor: pointer;
}

#btn-custom:hover {
  background-color: white;
  color: #F22F08;
  transition: 1.5s;
}

/* Vertical Scrollbar */
.vertical-menu {
    width: 30px;
    position: fixed;
    left: 10px;
    top: 47vh;
}

.vertical-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.dot {
  height: 10px;
  width: 10px;
  border: 1px solid white;
  background-color: none;
  border-radius: 50%;
  display: inline-block;
}

.active .dot {
  background-color: white;
}

.dot:hover {
  background-color: white;
  cursor: pointer;
}


/* Page 2 */
#page2 {
  height: 100vh;
  background-color: #F5F5F5;
  min-width: 1360px;
}

#story-header {
  padding-top: 25px;
  font-size: 64px;
  font-family: 'Open Sans';
  text-align: center;
  color: #181818;
  opacity: 0.8;
}

#page2-content {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.description {
  margin-top: 30px;
  font-size: 18px;
  font-family: 'Open Sans';
  opacity: 0.6;
}

.transition {
  margin-top: 40px;
  font-size: 34px;
  font-family: 'Open Sans';
  opacity: 0.7;
  text-align: center;
}

#three-aspects {
  margin: 0 auto;
  margin-top: 30px;
  width: 90vw;
  text-align: center;
}

.aspects-description {
  font-family: 'Open Sans';
  opacity: 0.7;
  margin-top: 15px;
  font-size: 18px;
}
