/* Import Custom Fonts */
@font-face {
    font-family: 'gotham-bold';
    src: url('fonts/Gotham-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-book';
    src: url('fonts/Gotham-Book.otf');
    font-weight: normal;
    font-style: normal;
}

#page1 {
  height: 100vh;
  background-color: rgb(2, 21, 28);
}

#world-background {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  right: 0;
}
#header-content {
  padding-top: 43.75vh;
  padding-left: 8.5vw;
}
#data-science-header {
  font-family: 'gotham-book';
  font-size: 44px;
  color: #F2F2F2;
}
#lehigh-header {
  font-family: 'gotham-book';
  font-size: 32px;
  color: #FF478B;
}
